.BuildControls {
  background-color: #CF8F2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  padding: 3em 10px;

  .checkout {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.8);

    &Price {
      line-height: 40px;
      margin: 0 1em;
    }
  }
}