.App {
    text-align: center;
    box-sizing: border-box;
    margin: 2em 1em;
}

.required {
    border: 1px solid red;
}

.error_message {
    visibility: hidden;
    color: red;
}

.required ~ .error_message {
    visibility: visible;
}
