.change_state {
    height: 40px;
    width: 200px;
    border: none;
    background-color: #224686;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.change_state:hover {
    background-color: #246fb6;
}

.content {
    margin: 1em 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.sections {
    width: 30%;
    background-color: #224686;
    color: #fff;
    padding: 1em;
}

.question_list {
    width: 65%;
}