.App {
  text-align: center;
}

.btn {
  border: 1px solid #000;
  padding: 1em;
  color: #fff;
  transition: .3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &_colour_red {
    background-color: #f00;
  }

  &_colour_green {
    background-color: #0d8015;

    @media screen and (max-width: 700px) {
      background-color: rgb(15,211,235);
    }
  }
}
